.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  transition: .2s;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  color: grey;
}
